@charset "UTF-8";


:root {
    --cor0:rgb(131, 33, 33);
    --cor1:rgb(11, 11, 53);
}


*{
    margin: 0px;
    padding: 0px;
}

body {
  height: 100%;
}

#titulo {
    width: 100%;
    background-color: var(--cor0);
    z-index: 1000;
}

#titulo > img {
    width: 200px;
    display: flex;
    margin: auto;
    
}

#menu {
  background-color: black;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: -1px;
  z-index: 999;
  width: 100%;
  outline: none;
  border: none;
  
}

#menu > i {
  color: aliceblue;
  font-size: 2em;
  cursor: pointer;
  
}

#menu2 {
background-color: var(--cor1);
display: none;
text-align: center;
width: 80%;
margin: auto;
position: sticky;
top: 54px;
z-index: 998;
}

#menu2 > a {
  color: aliceblue;
  padding: 5px;
  text-decoration: none;
  border: 1px solid aliceblue;
  
}




/*---------------------------------carroseel-------------------------------*/
#carrossel{
width: 100%;
position: inherit;   
z-index: 1;
position: relative;

}

#carousel-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    
  }
  
  .carousel-item img {
    border-radius: 10px;
  }
  
  button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  #carrossel img {
    width: 100%;
    height:50%;
  }

  #carrossel p {
    background-color: var(--cor0);
    color: white;
    font-size: 1.5em;
    padding: 8px;
    text-indent: 2em;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    height: 40%;
  }



/*---------------------------------carroseel fim----------------------------*/